/*
 *	zen_du_3 
 *  Light color theme
 */

body {

	background-color: #e5e3e1;
	color: #292929;
}

a:link,
a:active,
a:visited,
dd {

	color: #555351;
}

div#main {

	background-color: white;
}

div#content {

	background-color: white;
}

div#du-title-header-inner {

	background-color: #B0A689;
}

span#site-title {

	color: #300C11;
}

/* Search form bar */
span#upper-header input#edit-search-block-form--2 {

	background-color: #e5e3e1;
}

/* Search form button */
span#upper-header input#edit-submit,
span#upper-header input#edit-submit--2,
span#upper-header input#edit-submit--3,
input#edit-submit {

	/*background-color: #614A4A;*/
	background-color: #717171;
	color: #e5e3e1;
	bottom: 0.92em;
}

header#header.header {

	background-color: #757371;
}

header#header ul.menu li a {

	color: #e5e3e1;  
}

header#header ul.menu li a:hover {

	color: #382B2B;
}

/* Grid/list view toggle */
span.islandora-basic-collection-display-switch a,
span.islandora-basic-collection-display-switch a:visited {

	color: #757371;
}

/* Top level collection div */
div.islandora-basic-collection-wrapper,
div.islandora-basic-collection.clearfix {

	background-color: white;
	box-shadow: none;
}

/* Front page only */
body.front div.islandora-basic-collection-wrapper,
body.front div.islandora-basic-collection.clearfix {

	background-color: #f5f3f1;
	box-shadow: 0px 0px 4px 1px #b5b3b1;
}

dt.islandora-basic-collection-thumb a img
/*dt.islandora-basic-collection-thumb*/ {

	border-style: solid;
	border-width: 1px;
	border-color: #a5a3a1;
	border-radius: 5px;
}

dd.islandora-basic-collection-caption {

	background-color: white;
}

dd.islandora-basic-collection-caption a,
dd.islandora-basic-collection-caption a:visited {

	color: #191919;
}

dl[class$=collection] dt.islandora-basic-collection-thumb {

	border-style: solid;
	border-width: 1px;
	border-color: #a5a3a1;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* Front page only */
dl[class$=collection] dd.islandora-basic-collection-caption {

	background-color: #bcbcbc; /*#739d4a*/ /*green 579850*/
	border-style: solid;
	border-top-style: none;
	border-width: 1px;
	border-color: #a5a3a1;
}

/* Front page only */
dl[class$=collection] dd.islandora-basic-collection-caption a,
dl[class$=collection] dd.islandora-basic-collection-caption a:visited {

	color: #26292a;
}

dl[class$=collection] dt.islandora-basic-collection-thumb a img
/*dt.islandora-basic-collection-thumb*/ {

	border-style: none;
}

footer {

	background-color: #8b2332;
	color: #d5d3d1;
}

footer a:link,
footer a:visited {

	color: blue;			
}


/* Block styles */
div#content .block,
section.region-sidebar-first .block {

	background-color: #cdcdcd;
	color: #191919;
}

div#content .block h2,
section.region-sidebar-first .block h2 {

	color: #8b2332;
}

div#content div#block-block-1
/*div#content div#block-block-3*/ {

	background-color: #cdcdcd;
}

div#content div#block-block-3
/*div#content div#block-block-5*/ {

	background-color: white;
}

div#content div#block-block-3 h2
/*div#content div#block-block-5 h2*/ {

	color: #8b2332;
}

div#block-islandora-solr-basic-facets {  	

	padding: 0.8em;
	background-color: #f5f3f1;
}

div#block-system-powered-by {

	display: inline;
}

div#block-widgets-s-socialmedia-profile-buttons {

	display: inline;
	float: right;
}
